/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

@font-face {font-family: 'Texta-Light';src: url('webfonts/2C6B3F_B_0.eot');src: url('webfonts/2C6B3F_B_0.eot?#iefix') format('embedded-opentype'),url('webfonts/2C6B3F_B_0.woff2') format('woff2'),url('webfonts/2C6B3F_B_0.woff') format('woff'),url('webfonts/2C6B3F_B_0.ttf') format('truetype');}

@font-face {font-family: 'Texta-LightIt';src: url('webfonts/2C6B3F_9_0.eot');src: url('webfonts/2C6B3F_9_0.eot?#iefix') format('embedded-opentype'),url('webfonts/2C6B3F_9_0.woff2') format('woff2'),url('webfonts/2C6B3F_9_0.woff') format('woff'),url('webfonts/2C6B3F_9_0.ttf') format('truetype');}

@font-face {font-family: 'Texta-Medium';src: url('webfonts/2C6B3F_C_0.eot');src: url('webfonts/2C6B3F_C_0.eot?#iefix') format('embedded-opentype'),url('webfonts/2C6B3F_C_0.woff2') format('woff2'),url('webfonts/2C6B3F_C_0.woff') format('woff'),url('webfonts/2C6B3F_C_0.ttf') format('truetype');}

@font-face {font-family: 'Texta-Thin';src: url('webfonts/2C6B3F_F_0.eot');src: url('webfonts/2C6B3F_F_0.eot?#iefix') format('embedded-opentype'),url('webfonts/2C6B3F_F_0.woff2') format('woff2'),url('webfonts/2C6B3F_F_0.woff') format('woff'),url('webfonts/2C6B3F_F_0.ttf') format('truetype');}


$blue: #004b55;
$gray: #292927;
$yellow: #f9bd42;
$yellow2: #febd42;
$teal: #004b45;
$pink: #f95a61;
$width: 1200px;
$header: 1.75em;
$pad: 20px;
$white: #fff;

body {font-size: 100%; font-family: 'Texta-Light', sans-serif; color: $gray; line-height: 175%;}

a {font-family: 'Texta-Medium', sans-serif; color: $teal;
	&:hover {
		color: $yellow2;
		}
	&:focus {
		outline: $pink auto 5px;
	}
}

img {border: none; height: auto; max-width: 100%;}

 *{
  -webkit-box-sizing:border-box;
  -moz-box-sizing:border-box;
  box-sizing:border-box;
}

.wrap {max-width: $width; margin: 0 auto;}

.header-wrap {background: $gray;}

.socialHover {
		display: block;
		width: 40px;
		height: 40px;
		text-indent: -99999px;
			&:hover {background-position: 0 0; }
		}

.github {background: url('../img/github.png') bottom;}
.twitter {background: url('../img/twitter.png') bottom;}
.linkedin {background: url('../img/linkedin.png') bottom;}
.insta {background: url('../img/instagram.png') bottom;}

header { max-width: $width; margin: 0 auto;
	img {
		margin-bottom: -10px; max-width: 380px;
		}
		.social {float: right; margin-top: 20px;
			li {display: inline-block;
				img {width: 30px;}
			}
		}
		.mail a {float: right; margin-top: -40px; color: $pink;
			&:hover {color: $yellow2;}
		}
	}

	@media only screen and (min-width: 700px) {
		header img {max-width: 680px;}
	}

h2 {font-size: 1.5em;}

.intro {font-size: $header; padding: $pad; background: $gray;
		h1 {max-width: 760px; margin: 0 auto; color: $white;
			.yellow {color: $yellow2; font-family: 'Texta-LightIt', sans-serif;
		}
	}
}

.banner-container {background-size: cover; background-position: 100% 50%; min-height: 150px; position: relative; background-image: url(../img/github-oval.jpg);}

	@media only screen and (min-width: 680px) {
		.banner-container {min-height: 300px;}
	}

	@media only screen and (min-width: 1090px) {
		.banner-container {min-height: 400px;}
	}

.about {font-size: 1.5em; padding: 40px;}

.love li {display: inline-block; margin: 10px; width: 30%; max-width: 300px; }

.love img {width: 70%;
	height: 70%;
	border-radius: 50%;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	}

/*
	things I love
*/
/* entire container, keeps perspective */
.flip-container {perspective: 1000; float: left; margin: 2.5%; }

/* flip the pane when hovered */
.flip-container:hover .flipper, .flip-container.hover .flipper {transform: rotateY(180deg); }

.flip-container, .front, .back {width: 100%; max-width: 170px; height: 170px; border-radius: 50%;
	img { width: 100%;
  border-radius: 50%;}}

/* flip speed goes here */
.flipper {transition: 0.6s; transform-style: preserve-3d; position: relative; }

/* hide back of pane during swap */
.front, .back {backface-visibility: hidden; position: absolute; top: 0; left: 0;}

/* front pane, placed above back */
.front {z-index: 2; /* for firefox 31 */ transform: rotateY(0deg); }

/* back, initially hidden pane */
.back {transform: rotateY(180deg); opacity: 0.7; background: rgba(0, 0, 0, 0.8);
	h3 {z-index: 5; text-transform: uppercase; color: #fff; text-align: center; position: relative; font-size: 17px; padding: 10px; margin-top: 65px; }
	}

/*
	projects
*/
.subgallery-row {float:left; width:100%; display:block; margin-top:15px; margin-bottom:15px; padding-top:20px; padding-bottom:20px; }

.slide_hover .gallery_item {width: 100%; max-width: 320px; float:left; margin:10px; height:280px; position:relative; overflow:hidden; border:2px solid #292927; }

	@media only screen and (min-width: 600px) {
		.slide_hover .gallery_item {max-width: 380px;}
	}

.slide_hover .gal_image {height:200px; background-size:cover; overflow:hidden; transition: all 0.55s linear; }

.leekinney {background: url('../img/projects/leekinney-is.png') center; }

.phillyhikes {background: url('../img/projects/phillyhikes.jpg') center;}

.assist-care {background: url('../img/projects/assistive-care.jpg') center;}

.bayada {background: url('../img/projects/bayada.jpg') center;}

.bookworms {background: url('../img/projects/bookworms.jpg') center;}

.wheelchair {background: url('../img/projects/wheelchair-map.jpg') center;}

.shetech {background: url('../img/projects/shetech.jpg') center;}

.slide_hover .gal-content {width:100%; height:75px; background:#F1F2F3; padding-top:20px; transition: all 0.55s; -webkit-transfrom-style: preserve-3d; transform-style: preserve-3d; position: relative; backface-visibility: hidden;}

.slide_hover .gallery_item:hover .gal-content{-webkit-transform: rotateX(90deg); transform:rotateX(90deg); }

.slide_hover .gallery_item:hover .gal_image {height:100%; }

.slide_hover .gallery_item:hover .gal-show {top:0; opacity:1; background:rgba(0,0,0,0.8) }

.slide_hover .gal-content .icon{position:absolute; width:50px; height:50px; display:block; background:#f1f2f3; border-radius:50%; top:-25px; left:40%; font-size:26px; padding-top:10px; text-align:center; z-index:100; box-shadow: 0 0px 0px 1px #ccc; }

.slide_hover .gal-show {position:absolute; width:100%; height:100%; top:100%; padding:15px; opacity:0; transition: all 1s ease; -webkit-transition-delay: background .3s; color:#FFF;
	p {text-align: center; font-size: 1.2em;}
	button {display: block; vertical-align: top; padding: 8px 14px 10px; margin: 5px auto 15px auto; max-width:80%; background: #f95a61; border: 2px solid; color: #292927; font-size: 18px; font-weight: 500; text-align:center; cursor: pointer;
		&:hover {
			text-decoration: underline;
			}
		}
	h2 {-webkit-transition: all 0.2s ease-in-out 0.1s; -moz-transition: all 0.2s ease-in-out 0.1s; -o-transition: all 0.2s ease-in-out 0.1s; -ms-transition: all 0.2s ease-in-out 0.1s; transition: all 0.2s ease-in-out 0.1s; text-transform: uppercase; color: #fff; text-align: center; position: relative; font-size: 17px; padding: 10px; background: rgba(0, 0, 0, 0.8); margin: 20px 0 0 0; }
}

.slide_hover .gal-content .headline {display:block; font-size:24px; text-align:center; padding-top:7px; }

/*
	footer
*/
footer {background: $gray; padding: 10px; clear: both; }
.inner-foot {max-width: $width; margin: 0 auto; height: 50px;
	.social {
		width: 50%; float: left; padding-left: $pad;
		li {
		display: inline-block; padding: 5px;
		}
	}
.copy {font-family: 'Texta-LightIt', sans-serif; color: $yellow2; font-size: .75em;  float: right; padding: $pad;}
}
.space {clear: both;}